
#root {
    -fx-background-color: black;
}
.button {
    -fx-font-size: 18px;
    -fx-background-color: #1f1f1f;
    -fx-border-radius: 10px
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
}
#divide{
-fx-color: orange
}
.button:hover {
    -fx-background-color: #242424;
}

.button:pressed {
    -fx-background-color: #262626;
}

/* Style for Display Labels */
#calculations {
    -fx-font-size: 20px;
    -fx-background-color: black;
    -fx-padding: 5px;
}

#result {
    -fx-font-size: 24px;
    -fx-background-color: black;
    -fx-padding: 5px;
}
